/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) A.[dimParcel_SK]
      ,[dimParcel_BK]
      ,[dimParcelType_SK]
      ,[dimParcelType_BK]
      ,[Legal_ID]
      ,[JUR_IAS]
      ,[Roll_Year]
      ,[Parcel]
      ,[Parcel_Type]
      ,[Parcel_Type_Code]
      ,[Parcel_Type_Desc]
      ,[Suburban_Lot_Number]
      ,[Lot]
      ,[Legal_Info_Deactivation_Date]
      ,A.[PID]
      ,[Section]
      ,[Block_Number]
      ,[Range]
      ,[Plan_Number]
      ,[Township_Code]
      ,[Subdivision]
      ,[Legal_Text]
      ,[Meridian]
      ,[Land_District_Code]
      ,[Lease_Expiry_Date]
      ,[FN_Reserve_Code]
      ,[Sub_Block]
      ,[District_Lot]
      ,[BCA_AO_Group]
      ,[Lease_Type_Code]
      ,[Lease_Licence_Number]
      ,[Portion]
      ,[Exception_Plan]
      ,[Tenure_Code]
      ,[Reference_Plan]
      ,[Land_Branch_File]
      ,[Entitlement_Unit]
      ,[Interest_Destruct]
      ,[Air_Space_Parcel]
      ,[Strata_Lot_Number]
      ,[DLS_Exception]
      ,[NTS_Block]
      ,[Exception]
      ,[NTS_Location]
      ,[NTS_Quarter]
      ,[NTS_Unit]
      ,[OGC_File_Number]
      ,[OGC_WA_Number]
      ,[OGC_Field_Name]
      ,[Latitude]
      ,[Longitude]
      ,[OGC_Project_Number]
      ,[OGC_Site_Number]
      ,[AD_number]
      ,[Facility_ID]
      ,[Activity_Number]
      ,[UTM_Northing]
      ,[UTM_Easting]
      ,[UTM_Zone]
      ,[Iasw_Id]
      ,[RowSortOrder]
	  ,B.PID AS [PID List]
   FROM [EDW].[dbo].[Parcel_2] AS [A]
  INNER JOIN [dbo].[ParcelFolioPID] AS [B] ON [A].dimParcel_SK = [B].dimParcel_SK